.app {
  align-items: center;
  text-align: center;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.error-page {
  margin: 1rem;
  text-align: center;
}

.page-header {
  text-align: center;
  font-size: 2rem;
  font-family: "Consolas", "Courier New";
  padding-top: 1rem;
}

.page-title {
  margin: 1rem;
}

.page-title-description {
  margin: 1rem;
}

.page-title-description p {
  font-size: 1rem;
  line-height: 1.5;
}

.even-section {
  background: var(--bg-secondary);
}
