.app {
  align-items: center;
  text-align: center;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin: 1rem;
}

.error-page {
  margin: 1rem;
  text-align: center;
}
