* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background-primary);
}

:root {
  --color-primary: #000000;
  --background-primary: #ffffff;
}

[data-theme="dark"] {
  --color-primary: #ffffff;
  --background-primary: #000000;
}
