.ic-wrapper {
  padding: 1rem;
}

.identification-group {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.identification-card {
  min-width: 17rem;
  border: solid;
  border-radius: 2rem;
  padding: 1rem;
  background: var(--bg-primary);
}

.identification-information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.identification-value {
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  column-gap: 0.5rem;
  align-items: start;
}

.identification-value .left {
  text-align: left;
}

.identification-value .center {
  text-align: center;
}

.identification-value .right {
  text-align: left;
}

.ic-upper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.ic-upper h3 {
  text-align: center;
  font-weight: 500;
  margin: 0;
}

.ic-upper span {
  margin-left: auto;
  text-align: right;
}

@media (max-width: 768px) {
  .identification-group {
    flex-direction: column;
  }
}
