.ic-wrapper {
  padding: 1rem;
}

.identification-group {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.identification-card {
  min-width: 17rem;
  width: 25rem;
  border: solid;
  border-radius: 2rem;
  padding: 1rem;
  background: var(--bg-primary);
}

.identification-information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.identification-value {
  display: flex; /* use flex instead of grid */
  align-items: center;
  gap: 0.5rem; /* space between columns */
}

.identification-value .left {
  width: 6.5rem;
  text-align: left;
}

.identification-value .center {
  width: 1rem;
  text-align: center;
}

.identification-value .right {
  flex: 1;
  text-align: left;
}

.ic-upper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.ic-upper h3 {
  text-align: center;
  font-weight: 500;
  margin: 0;
}

.ic-upper span {
  margin-left: auto;
  text-align: right;
}

@media (max-width: 768px) {
  .identification-group {
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }
  .identification-card {
    width: 90%;
    max-width: 90%;
  }
}
